# Requires at least bazel 6
common --enable_bzlmod
build --cxxopt=-xc++                    --host_cxxopt=-xc++
build --cxxopt=-std=c++17               --host_cxxopt=-std=c++17

# Load user-specific configuration, if any.
try-import %workspace%/user.bazelrc
